body {
    background-color: rgb(73, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
    body {
        margin: 5px;
        background-color: rgb(68, 99, 70);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .imagenEncabezado {
        background-image: url(/img/portadaMV.jpg);
        padding: 30px;
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

    }

    .imagenEncabezado:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .titulo {
        font-size: 20px;
        color: rgb(199, 216, 228);
        position: relative
    }

    .lol {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: center;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 13px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }



    .publicidad {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    img.publicidad {
        max-width: 100%;
        max-height: 10%;
    }
    .registro{
        display: block;
    }
    form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 100px;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        font-size: 18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align: center;
        }
        span.psw {
        float: center;
        padding-top: 0;
        padding-right: 15px;
        }

    .pie {
        text-align: center;
        background-color: rgb(9, 9, 73);
    }

    .pie h4 {
        color: aliceblue;
        font-size: 10px;
    }
}

@media screen and (max-width: 1020px) {
    body {
        margin: 5px;
        background-color: rgb(167, 149, 149);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .imagenEncabezado {
        background-image: url(/img/portadaMV.jpg);
        padding: 30px;
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

    }

    .imagenEncabezado:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .titulo {
        font-size: 20px;
        color: rgb(199, 216, 228);
        position: relative
    }

    .lol {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: space-around;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 13px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }


    .publicidad {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;


    }

    img.publicidad {
        max-width: 100%;
        max-height: 10%;
    }
    form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        font-size: 18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align: center;
        }
        span.psw {
        float: center;
        padding-top: 0;
        padding-right: 15px;
        }
        .publiCoca2{
            width: 100%;
            object-fit: contain;
        }

    .pie {
        text-align: center;
        background-color: rgb(9, 9, 73);
    }

    .pie h4 {
        color: aliceblue;
        font-size: 10px;

    }

}
@media only screen and (min-width: 1020px){
    .imagenEncabezado {
        background-image: url(/img/portadaMV.jpg);
        padding: 70px 10px;
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    
    }
    
    .imagenEncabezado::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .titulo {
        font-size: 50px;
        color: rgb(0, 0, 0);
        position: relative
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
    
    .noticias {
        margin: 2px;
        display: flex;
        justify-content: space-around;
        border: 2px solid rgb(214, 205, 205);
        border-radius: 14px;
        padding: 5px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.801)), url(/img/contenido.JPG);
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .noticiaUno {
        width: 600px;
        border: 2px solid rgba(235, 231, 231, 0.212);
        border-radius: 12px;
        padding: 5px;
        position: relative;
        color: white;
    }
    
    .noticiaDos {
        width: 665px;
        border: 2px solid rgb(235, 231, 231, 0.212);
        border-radius: 12px;
        padding: 5px;
        position: relative;
    }
    
    h2 {
        color: aliceblue;
    }
    
    p {
        color: aliceblue;
    }
    
    .lol {
        width: 100%;
    }
    .coca {
        height:200px;
        object-fit: contain;
       }
    .publicidad{
        width: 100%; 
        max-height: 100%; 
      
    }
    footer{
        background-color: blue;
        text-align: center;
    }
    .registro{
        display: flex;
        justify-content: space-around;
    }
    form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 500px;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        font-size: 18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align: center;
        }
        span.psw {
        float: center;
        padding-top: 0;
        padding-right: 15px;
        }
        .publiCoca2{
            width: 300px;
        }
    }