* {
  margin: 0;
}
body {
  background-color: #300b0b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 500%;
  color: rgb(255, 255, 255);
}
h5 {
  font-size: 25px;
  text-align: center;
  background-color: rgb(15, 11, 9);
  color: wheat;
}
nav > div > form > input {
  border-radius: 100px;
}
nav.navbar {
  padding: 25px 20px;
  position: sticky;
  top: 10px;
  z-index: 1;
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 1);
  margin: 20px;
  background-color: rgb(5, 7, 22);
}
.dark > nav.navbar {
  background-color: hsl(0, 69%, 28%) !important;
  color: rgb(252, 252, 252);
}

nav > div > form > button.btn {
  border: solid 2px #13bbb6;
}
nav > div > form > button.btn:hover {
  border: solid 2px #13bbb6;
  color: white;
  background-color: #13bbb6;
}
footer {
  padding: 10px;
  background-color: white;
  font-weight: bold;
  border-top: solid 1px #0cdbad;
  margin-top: auto;
}

.dark footer {
  background-color: hsl(200, 51%, 15%);
  color: white;
}
.fa-shopping-cart {
  font-size: 30px;
  color: #13bbb6;
  cursor: pointer;
}
#cards {
  padding: 30px 15%;
}
.card {
  width: 350px;
  background-color: rgb(99, 5, 5);
}
.card:hover {
  transition: 0.6s;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.dark .card {
  background-color: hsl(200, 51%, 15%);
}

.dark .card:hover {
  transition: 0.6s;
  box-shadow: 0px 0px 10px 1px #13bbb6;
  -webkit-box-shadow: 0px 0px 10px 1px #13bbb6;
}
.third {
  color: rgb(32, 20, 20);
  box-shadow: 0 0 40px 40px #13bbb6 inset, 0 0 0 0 #13bbb6;
  -webkit-transition: all 200ms ease-in-out;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  padding: 9px;
  border: none;
}
.third:hover {
  box-shadow: 0 0 0px 0 #13bbb6 inset, 0 0 20px 4px #13bbb6;
  color: #13bbb6;
}
.third:hover .in-card {
  color: #13bbb6;
}
.dark .third:hover {
  background-color: hsl(200, 51%, 15%);
}
.in-card {
  font-size: 16px;
  color: white;
  padding-left: 8px;
}
.card-title {
  border-bottom: solid 2px #13bbb6;
}
.dark .card-title {
  background-color: hsl(200, 65%, 8%);
}
.card-text {
  font-size: 20px;
  font-weight: bold;
}
p{
  color: #111;
}

/* CART */
.side-bar-wrapper {
  position: fixed;
  top: 0;
  width: 0vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(45, 49, 49, 0.3);
}

#side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: whitesmoke;
  z-index: 3;
  border-left: solid 1px #13bbb6;
}
.dark #side-bar {
  background-color: hsl(200, 51%, 15%);
}
#close-cart {
  color: #13bbb6;
  font-size: 40px;
  cursor: pointer;
  display: block;
  text-align: end;
  width: 400px;
}
#close-cart > i {
  margin: 14px 20px 0px;
}

.cart-container {
  width: 400px;
  display: block;
  transition: 0.3s;
  margin-right: 2px;
}
h3.cart {
  margin-top: -20px;
}
.dark #cart-counter {
  background-color: hsl(200, 51%, 15%);
}

#cart-counter {
  position: absolute;
  right: 18px;
  top: 17px;
  background-color: white;
  padding: 0px 6px;
  color: #13bbb6;
  border-radius: 50%;
  border: solid 1px #13bbb6;
  font-weight: bold;
}

.img-cart {
  width: 100px;
}
.card-carrito {
  display: flex;
}
.item-count {
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  padding: 0px 5px 2px 5px;
}
.dark .item-count {
  color: #ffffff;
}
.eliminar-item {
  color: #bd7474;
  cursor: pointer;
}
.fa-minus,
.fa-plus {
  font-size: 12px;
  cursor: pointer;
}

#cart > div > div:nth-child(3) {
  background-color: rgba(19, 187, 182, 0.1);
  padding: 10px;
}
#cart > div > div:nth-child(2) > span.font-weight-bold.d-block.m-2 {
  font-size: 20px;
  font-weight: bold;
}
.clear-cart {
  border: solid 2px #13bbb6;
  margin: 20px;
}
.cart-footer {
  text-align: center;
  width: 400px;
}

.dark {
  background-color: hsl(200, 65%, 8%);
  color: white;
}
#toggle-theme {
  border: solid 1px black;
  cursor: pointer;
}
#toggle-theme:focus {
  box-shadow: none;
}
#toggle-theme:checked {
  background-color: #13bbb6;
  border: solid 1px white;
}

.dark .btn {
  color: white;
}
#total {
  display: inline-block;
}

div.form-check.form-switch {
  position: fixed;
  left: 10px;
  bottom: 45px;
}
